#textformes1
{
    -fx-font-size: 20px;
}

#textformes2
{
    /*-fx-background-color: gray;*/
    /*-fx-text-fill: red;*/
    -fx-font-size: 20px;
}



.rose
{
    -fx-fill : coral ;
}

.rouge
{
    -fx-fill : red;
}

.vert
{
    -fx-fill : green;
}


.highlightedtext
{
    /*-fx-background-position: yellow;*/
    /*-fx-fill : green;*/
    /*-fx-highlight-fill : yellow;*/
    -fx-highlight-text-fill : coral;
}